.Rproj.user
*.Rhistory
.RData
.swp
src/*.o
src/*.so
src/*.dll
.Rbuildignore
CoupledPF.Rproj
Rprof.out
*.RData
*.pdf
*.DS*
inst/reproduceunlikely
inst/reproducepz
inst/reproducear1
inst/reproducegss
inst/misc
inst/animation
